html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body
{
    color: #343434;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 75%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
/*
@font-face
{
    font-family: "WhitmanDisplayLight";
    font-style: normal;
    font-weight: normal;
    src: url("/sites/all/themes/andrew_harper/css/e7a82b84-07ce-4edb-b5cf-959e63a47e7d-2.eot?") format("embedded-opentype"), url("/sites/all/themes/andrew_harper/css/e7a82b84-07ce-4edb-b5cf-959e63a47e7d-3.woff") format("woff"), url("/sites/all/themes/andrew_harper/css/e7a82b84-07ce-4edb-b5cf-959e63a47e7d-1.ttf") format("truetype"), url("/sites/all/themes/andrew_harper/css/e7a82b84-07ce-4edb-b5cf-959e63a47e7d-4.svg#web") format("svg");
}
@font-face
{
    font-family: "WhitmanDisplayLight";
    font-style: italic;
    font-weight: normal;
    src: url("/sites/all/themes/andrew_harper/css/622678cc-b2ab-4be4-a4fe-0a436e9d9d25-2.eot?") format("embedded-opentype"), url("/sites/all/themes/andrew_harper/css/622678cc-b2ab-4be4-a4fe-0a436e9d9d25-3.woff") format("woff"), url("/sites/all/themes/andrew_harper/css/622678cc-b2ab-4be4-a4fe-0a436e9d9d25-1.ttf") format("truetype"), url("/sites/all/themes/andrew_harper/css/622678cc-b2ab-4be4-a4fe-0a436e9d9d25-4.svg#web") format("svg");
}
*/
a {
    color: #3366CC;
    text-decoration: none;
}
a:hover {
    color: #3366CC;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    color: #000000;
    font-weight: normal;
}
h1
{
    font-family: WhitmanDisplay Regular,Georgia;
    font-size: 2.2em;
}
h2
{
    font-family: WhitmanDisplay Regular,Georgia;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
h3
{
    font-family: WhitmanDisplay Regular,Georgia;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1;
    margin-bottom: 0.6em;
}
h4
{
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5
{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6
{
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
    margin: 0;
}
p
{
    margin: 0 0 1.5em;
}
.element-invisible
{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
#page-wrapper
{
    background: url("images/page.png") repeat-y scroll 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 960px;
}
#page
{
    padding: 0 10px;
}
#header
{
    overflow: visible;
    word-wrap: break-word;
}
.section
{
    margin: 0 !important;
}
h1#site-name, div#site-name
{
    font-size: 2em;
    line-height: 1.3em;
    margin: 0;
}
#site-name a:link, #site-name a:visited
{
    color: #000000;
    text-decoration: none;
}
#site-name a:hover, #site-name a:focus
{
    text-decoration: underline;
}
#header #site-slogan
{
    font-family: WhitmanDisplay Regular,Georgia,Serif;
    font-size: 1.6em;
}
#header #site-slogan
{
    font-size: 1.6em;
}
#site-slogan
{
    color: #666666;
    font-family: WhitmanDisplay Regular,Tahoma;
    font-size: 1.65em;
    font-style: italic;
    font-weight: normal;
    padding-left: 230px;
    padding-top: 15px;
}
#main-wrapper
{
    position: relative;
}
.header-image 
{
    padding-bottom: 25px;
    }
#content
{
    background: #fff;
    width: 920px;
    text-align: left;
    margin: 0px auto;
    overflow: hidden;
}
.two-column
{
    width: 100%;
    float: left;
    padding: 0px 5px;
}
.two-column h2
{
    font-size: 1.96em;
    padding-right:10px;
}
.one-column
{
    width: 430px;
    float: left;
    padding: 0px;
    margin:0px;
    margin-right:25px;
}

.info-box 
{
    background-color: #f3f3f3;
    font-weight: bold;
    padding:10px;
    margin-bottom:20px;
    }
    
ol
{
    padding-left: 20px;
    padding-bottom:20px;
}
ul
{
    list-style-type: none;
    padding-left: 0px;
    margin-top:10px;
    margin-bottom:10px;
}
li
{
    margin-top:20px;
}
.orange-bold
{
	color:#e34609;
	margin:0px;
	padding:0px;
	font-weight: bold;
    }
.contact-box 
{
    }
.contact-field 
{
    float:left;
    width:100px;
    text-transform:uppercase;
    }
.text-click 
{
    cursor:hand;
    font-weight: bold;
    }
.submit-button 
{
    background: url("images/send-button.gif") no-repeat scroll 0 0 transparent;
    border: none;
    width:110px;
    height:28px;
    cursor: hand;
    font-size:0px;
    }
.validator 
{
    font-style: italic;
    color:#f00;
}
.header-text
{
	line-height: 30px;
}  
.error-message
{
	color:#f00;
	font-size:larger;
}
.create-form-text
{
	width:400px;
}