html { font-size:100.01%; }
body {
  font-size: 75%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color:#343434;
}

#form1 {
	width: 500px;
	margin-top: 50px;
	margin-left:100px;
	
}

legend {
	display:none;
}

#lblMessage {
	color: red;
	font-size: 11px;
}
	
	
#lblInstructions {
	font-family: WhitmanDisplay, Georgia;
	font-size: 1.5em; 
	
}

label {
	font-weight:bold;
	padding-right: 5px;
	
}

/* Headings */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #000; }

h1 {
	font-family: WhitmanDisplay, Georgia;
	font-size: 2.2em; 
	/* margin-bottom: 0.75em; */ 
}
h2 {
	font-family: WhitmanDisplay, Georgia;
	font-size: 1.5em; 
	 margin-bottom: 0.5em; 
}
h3 { 
	font-size: 1.2em; 
	margin-bottom: 0.6em; 
	line-height: 1;
	font-family: Georgia, Georgia;
	font-style:italic;
}
/*h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }*/
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements */

p { 
	margin: 0 0 1.5em; 
}


fieldset {

font-weight: normal;
padding-bottom: 5px;
border: 0;
}

#form1 {
width:500px;
}


#cmdUpdate {
	
	-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-color: #E04107;
    background-image: url("images/AH/form-legend-bg.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom-color: #F96D2E;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #F96D2E;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #F96D2E;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: #F96D2E;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    display: block;
    font-size: 1.1em;
    height: 25px;
    padding-bottom: 2px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 0;
    float: right;
    margin-right: 225px;
    margin-top: 20px;
}

ol {
	
	list-style: none;
}


fieldset {
    border:0;
    }
    
 