body
{
	background: url(../images/pagebackground.gif);
	font-family: Georgia, serif;
	font-size: 8pt;
	line-height: 12pt;
}

.img {
padding: 0px 11px 0px 11px;
}

a:active, a:visited, a:link
{
	color: #36c;
	text-decoration: none;
}

a:hover
{
	color: #a3562c;
	text-decoration: none;
}

.MainOutsideBorder
{
	background-color: #ffffff; 
	/* width: 900px; */
	width: 98%;
	margin: 0 auto;
	padding: 5px;
	border: 5px solid #e4d0a0;
}

.MainContentTable
{
	/* padding: 10px; */
	/* border: 1px solid #e4d0a0; */
	/* width: 900px; */
	/* width: 97%; */
}

.MainLeftColumn
{
	width: 212px;
	
}

.MainRightColumn
{
	
}

.TopSlogun
{
	padding: 18px 25px 18px 25px;
	text-align: right;
	text-transform: uppercase;	
	font-size: 7.5pt;
	letter-spacing: 3px;
	color: #302e2e;
}

h1 {
	font-family: WhitmanDisplay, Tahoma;
	font-size: 2.2em; 
	/* margin-bottom: 0.75em; */ 
}
h2 {
	font-family: WhitmanDisplay, Tahoma;
	font-size: 1.5em; 
	 margin-bottom: 0.5em; 
	 }

h4
{
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 10pt;
	color: #36c;
	letter-spacing: 1px;
}

.terms
{
	font: 14px Verdana;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #a85a2a;
	font-weight: bold;

}


.DefaultContent
{
	color: #302e2e;
	font-family: Georgia, serif;
	font-size: 10pt;
	line-height: 170%;
	margin: 0 0 0.5em 0;
}

.arrows
{
	color: #a85a2a;
	font-family: Georgia, serif;
	font-size: 10pt;
	line-height: 170%;
	margin: 0 0 0.5em 0;
}




.CapContent
{
	color:#36c;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	line-height: 170%;
	margin: 0 0 0.5em 0;
}

.DefaultContentWithItalic
{
	color: #302e2e;
	font-family: Georgia, serif;
	font-size: 10pt;
	line-height: 170%;
	margin: 0 0 0.5em 0;
	font-style:italic
}

.ConsiderImage
{
    margin: 0 0 23px 10px;
    /*width: 604px;
    height: 346px;*/
    padding: 6px 6px 10px 6px;
    background-image: url(images/picbackground.gif);
    background-repeat: no-repeat;
}

.Quote_Div
{
	margin-top: 27px;
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	background-image: url(images/topquote.gif);
	background-repeat: no-repeat;
}

.Quote_Bold
{
	display: block;
	font-weight: normal;
	padding-top: 16px;
	padding-left: 8px;
}

.Quote_Para
{
	text-align: right;
	height: 50px;
	margin: 2px 16px 0 0;
	background-image: url(images/bottomquote.gif);
	background-repeat: no-repeat;
}

.Knowledge_Div
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	background-image: url(images/knowledgebackground.gif);
	background-repeat: no-repeat;
	border-top: 1px solid #e4d0a0;
	border-left: 1px solid #e4d0a0;
	border-right: 1px solid #e4d0a0;
	padding: 6px 8px 8px;
	margin-top: 14px;	
}

.Knowledge_Img
{
	float: left;
	margin-top: 5px;
	margin-right: 8px;
}

.WhatsHot_Div
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	background-image: url(images/whatshotbackground.gif);
	background-repeat: no-repeat;
	border-top: 1px solid #e4d0a0;
	border-left: 1px solid #e4d0a0;
	border-right: 1px solid #e4d0a0;
	padding: 6px 8px 8px;
	margin-top: 14px;
}

.WhatsHot_P
{
	margin-top: 8px;
	margin-left: 10px;
}

.WhatsHot_Slug
{
	margin-top: 18px;
	margin-left: 56px;
	font-size: 7pt;
	color: #808086;
}

.QuoteLink, .QuoteLink:link, .QuoteLink:visted, .QuoteLink:active
{
	color: #36c;
}

.Download_Div
{
	margin-top: 27px;
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #7f7f84;
}

.Download_Img
{
	float: left;
	margin-right: 8px;
}

.Downlload_P
{
	padding-top: 8px;
}

.AllianceSubNav_Div
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	letter-spacing: 2px;
	color: #36c;
	line-height: 170%;
	border-top: 1px solid #e4d0a0;
	border-bottom: 1px solid #e4d0a0;
	padding: 4px 0;
	margin-top: 12px;
	margin-bottom: 10px;
}

.AllianceSubNav_A:active, .AllianceSubNav_A:visited, .AllianceSubNav_A:link
{
	color: #808086;
}

.AllianceSubNav_A:hover
{
	color: #33333d;
}

.AllianceSubNav_B:active, .AllianceSubNav_B:visited, .AllianceSubNav_B:link
{
	color: #33333d;
	font-weight: bold;
}

.Spaced
{
	letter-spacing: 1px;
}

.Sample_Div
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	margin-top: 20px;
}

.ListItem_Div
{
	clear: left;
	border-top: 1px solid #e4d0a0;
	padding: 10px 0;
	margin: 10px 0;
	line-height: 180%;
}

.ListItem_Img
{
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #808086;
}

.GrayHead
{
	color: #808086;
	font-size: 7.5pt;
	letter-spacing: 1px;
}

.top_revPhone {
	/*margin: 6px auto; */
	color: #000000;
	font-size: 7pt;
	/*line-height: 150%; 
	padding-top: 10px; */
	text-align: right;
	font-family:Verdana;
}

.top_logStatus 
{
	font-family: Georgia, serif;
	font-size: 8pt;
}
	
.Legal_Div1 {
	margin: 6px auto; 
	color: #36c;
	font-size: 7pt;
	line-height: 150%; 
	padding-top: 10px; 
	color: #ffffff;
}

.Legal_Div2 {
	margin: 6px; 
	color: #36c;
	font-size: 7pt;
	line-height: 150%; 
	color: #ffffff;
}

.Legal_A:active, .Legal_A:visited, .Legal_A:link
{
	color: #ffffff;
}

.Legal_A:hover
{
	color: #36c;
}

.Legal_P {
	float: right;
}

.HRPicCaption
{
	text-align: right;
	font-size: 6pt;
	font-family: Verdana, Arial, Sans-Serif;
	margin-right: 11px
}

.FormLabel
{
	color: #302e2e;
	font-family: Georgia, serif;
	font-size: 9pt;
	text-align: right;
	width: 40%;
	line-height: 150%;
}

.FormInput
{
	color: #302e2e;
	font-family: Georgia, serif;
	font-size: 10pt;
	width: 60%;
	text-align: left;
}

.DefaultTextBox
{
	width: 200px;
}

.DefaultTextArea
{
	width: 200px;
	height: 100px;
}

.DefaultDropDown
{
	width: 200px;
	font-size: 8pt;
	font-family: Verdana;
}

.DefaultButton
{	
	width: 75px;
	background-color: #527141; 
	color: #FFFFFF;
	font-weight: bold;
	font-size: 8pt;
	border: solid 1px #000000;
	vertical-align:bottom;
}

.LoginButton
{	
	width:90px;
	border-width:0px;
	background-repeat:no-repeat;
	text-align:center;
	text-decoration:none;
	display:block;
	margin-left:1px;
}

.SmallText
{
	font-family: Georgia, serif;
	font-size: 8pt;	
}

.UpperCaseLink
{
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 1em;	
}

.lowCaseLink
{
	letter-spacing: 0.04em;
	font-size: 9pt;
	font-weight: bold;
}

.mlpsub
{ color:#707276;
 font-size :8pt;
}

/* ************************************* */
/* *********** Menu Styles ************* */
/* ************************************* */

/*.MainMenuCell
{
	border:3px solid #4C4C56;
	
}*/

.MainMenu_SelectedNode, .MainMenu_SelectedNode:active, .MainMenu_SelectedNode:visited, .MainMenu_SelectedNode:link, MainMenu_SelectedNode:hover
{
	color: #36c;
	text-decoration: underline;
}

.MainMenu_DefaultNode, .MainMenu_DefaultNode:active, .MainMenu_DefaultNode:visited, .MainMenu_DefaultNode:link
{
	color: #000000;
}

.MainMenu_Level1, .MainMenu_Level1:active, .MainMenu_Level1:visited, .MainMenu_Level1:link
{
	font-variant: small-caps;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-image: url(../images/navbackground.gif);
	border-bottom: solid 1px #cecece;
	color: #000000;
}

.MainMenu_Level1:hover
{
	color:#36c
	width: 200px;
}
.MainMenu_Level2, .MainMenu_Level2:active, .MainMenu_Level2:visited, .MainMenu_Level2:link
{
	font-size: 11px;
	font-weight: normal;
	width: 200px;
	background-image: url(../images/navbackground.gif);
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	border-bottom: solid 1px #cecece;
}

.MainMenu_Level2:hover
{
	color: #36c;
}

.MainMenu_Level3, .MainMenu_Level3:active, .MainMenu_Level3:visited, .MainMenu_Level3:link
{
	font-family: Arial;
	font-size: 10px;
	width: 183px;
	height: 20px;
	border: solid 1px #fff5d9;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 20px;
	/* color: #000000; */
	background: #F0EBDE;
}

.MainMenu_Level4, .MainMenu_Level4:active, .MainMenu_Level4:visited, .MainMenu_Level4:link
{
	font-family: Arial;
	font-size: 10px;
	width: 173px;
	height: 20px;
	border: solid 1px #fff5d9;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 30px;
	/* color: #000000; */
	background: #F0EBDE;
}

.PageTitle_Table
{
	width: 100%;
	margin-top:5px;
	border-top: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	border-left: 1px solid #36c
	border-left-width: 5px;
	color: #4c4c56;
	background-color: Verdana;
}

.PageTitle_Cell
{
	border-top: 1px solid Verdana;
	background-color: Verdana;
	padding: 7px;
}

.PageTitle_Text
{
	font-size:16px;
	font-weight: normal;
	margin: 0;
}

.WebPartTitle_Table
{
	width: 100%;
	border-top: 1px solid Verdana;
	border-right: 1px solid Verdana;
/*	border-bottom: 1px solid Verdana; */
	border-left: 1px solid Verdana;
	border-left-width: 5px;
	margin-top: 5px;
	color: #4c4c56;
	background-color: Verdana;
	text-align: left;
}

.WebPartTitle_Cell
{
	letter-spacing: 1px;
	padding: 7px;
	font-weight: bold;
	text-transform: capitalize;
}

.WebPartTitle_Text
{
	font-family: Verdana;
	font-size: 9px;
	font-weight: bold;
}

.WebPartDiv
{
	border-top: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding: 5px 11px 11px 11px; 	
}

.CustomStackDiv
{
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding:11px; 	
}

.CustomPartDiv
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	border-top: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	margin:8px 6px 8px 0px;
	padding: 0px 3px 0px 10px;	
}

.CustomPartDivRC
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	border-top: 1px solid Verdana;
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	margin:8px 6px 8px 0px;
	padding: 0px 3px 0px 10px;	
	width: 625px;
}

.CustomPartDivRCD
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	border-top: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	margin:8px 6px 8px 0px;
	padding: 10px 15px 15px 15px;
	width: 610px;
}


.WebPartDisplay
{
	border-top: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding:11px; 
	/*background-color:  Verdana; */
	background-color:Verdana;
}

.DivDisplyName
{
	position: absolute; 
	left: 440px; 
	top: 75px; 
	width: 400px;
	z-index:1px;
}

.DivDisplyNameForTempEmp
{
	position: absolute; 
	left: 600px; 
	top: 100px; 
	width: 400px;
	z-index:1px;
}


.WebPartDivNoTitle
{
	border-top: 1px solid Verdana;
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding:11px;
	margin-top: 5px;
}
   
.PopularPage_Table
{
	width: 200px;
	border-top: 1px solid Verdana;
	border-right: 1px solid Verdana;
/*	border-bottom: 1px solid Verdana; */
	border-left: 1px solid Verdana;
	border-left-width: 5px;
	margin-top: 5px;
	color: #4c4c56;
	background-color: Verdana;
	text-align: left;
}
   
.PopularPageContentTable
{
	width: 200px;
	border-top: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding:11px; 
}
   
  
.ListPriv_ul{
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	margin-top:0px;
	margin-bottom:1px;
}
        
.ListPriv_li {
	/*line-height: 150%;
	line-height: 12px;	
	padding-top: 6px;*/
	/*padding-bottom: 0.5px;*/
}

.ListPriv_ul_MemPriv{
	list-style: none;
	margin-left: 0;
	padding-left: 0.75em;

	margin-top:0px;
	margin-bottom:1px;
}

.ListPriv_li_MemPriv
{
	line-height: 150%;
	line-height: 12px;	
	padding-top: 6px;
}

.ListPriv_foot
{
	margin-left: 0;
	padding-left: 0.75em;
	font-family: Georgia, serif;
	font-size: 8pt;
	font-style:italic
}

.PageTitle_Cell
{
	border-top: 1px solid Verdana;
	background-color: Verdana;
	padding: 7px;
}


.DestinationTab_Table
{
	width: 100%;
	border-right: 1px solid Verdana;
	/*border-bottom: 1px solid Verdana;*/
	border-left: 1px solid #36c
	border-left-width: 5px;
	background-color: Verdana;	
	/*height:20px*/
}

.DestinationTab_Row
{
	border-top: 1px solid Verdana;
}

.DestinationTab_Cell
{	
	border-bottom: 1px solid Verdana;	
	border-right: 1px solid Verdana;	
	padding: 4px;
	margin:-3px;
}


.BookingItemTab_Table1
{
	margin-top:0px;
	width: 100%;
/*	border-top: 1px solid Verdana;*/
	border-right: 1px solid Verdana;
	/*border-bottom: 1px solid Verdana; */
	border-left: 1px solid #36c
	border-left-width: 5px;
	background-color: Verdana;
	/*height:25px;*/
}

.BookingItemTab_Table2
{
	width: 100%;
/*	border-top: 1px solid Verdana;  */
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana; 
	border-left: 1px solid #36c
	border-left-width: 3px;
	background-color: Verdana;
	/*height:35px;*/
}

.BookingItemTab_TableRC
{
	width: 100%;
/*	border-top: 1px solid Verdana;  */
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-left-width: 1px;
	background-color: Verdana;
	/*height:35px;*/
}

.DataList_Cell:visited,.DataList_Cell:active, .DataList_Cell:link{
	border-right: 1px solid Verdana;
	padding: 10px;
	margin:-3px;
	background-color:#4C4C56 ;
}

.DataList_Text:visited, .DataList_Text:active, .DataList_Text:link
{
	color:#4C4C56;
}


.BookingItemHotelName_Cell
{
	color: #c88257; 	
	font-size: 15px;	
	padding-bottom: 9px;
	padding-top:9px;
	padding-left:9px;	
	padding-right:9px;	
	margin: 0;	
	border-top: 1px solid Verdana;
	border-bottom: 1px solid Verdana;					
}

.BookingItemTab_Cell{
	/*padding-bottom: 4px;
	padding-top:4px;*/
	margin:0px;	
	/*height:35px;*/
}

/*
.testCellHeight
{
	margin:0px;
	padding-top:1px;
	padding-bottom:1px;
}
*/


.BookingItemTab_Text
{
	font-size: 11.25px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:3px;			
}

BookingItemTab_Text:active
{
	color: Red;
}

.RightPanel
{
	padding-left:7px;
}

.ahPicCaption
{
	padding-right:25px;
	font-size:7pt;
	font-family: Verdana;
}

.TavelCenter_TopEmptyTable
{
	width:100%;
	height:0.1px;
	/*border: 1px solid Verdana;*/
}

.PageTitleTravelCenter_Table
{
	width: 100%;
	border-right: 1px solid Verdana;
	border-left: 1px solid #36c	
	border-left-width: 5px;
	
	background-color: Verdana;
	text-align: left;
}

.EmailPrintSave_TopLayOut
{
	width: 100%;
	color:Green;
	
	
	
	/*
	border-bottom:1px solid Verdana;
	border-left:1px solid Verdana;
	*/
	/*background-color: Verdana;*/
}

.EmailPrintSave_BottomLayOut
{
	background-color: Verdana;	
	height:25px;
}

.EmailPrintSave_Tool{
	white-space: nowrap;
	border-left: 1px solid Verdana;
	padding: 4px;  
	font-family: Arial;
	font-size: 9px;
}

.EmailPrintSave_InsideLayOut
{
	font-weight:500;
	font-size: 8px;	
	font-family: Verdana;
	white-space: nowrap;
	border-bottom:1px solid Verdana;
	border-left:1px solid Verdana;
	text-align:center;	
}


.PageTitleTravelCenter_Cell
{
	border-top: 1px solid Verdana;
	/*border-bottom: 1px solid Verdana; */
	background-color: Verdana;
	padding: 12px;
	font-size:18px;
	color: #4c4c56;	
}

.ListPageWedPartDiv
{
	/*border-top: 1px solid Verdana; */
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding:11px;
}

.ThumbnailImg
{
	float: left;
	padding-right: 10px;
}

.Thumbnail_h2{
	font-size: 11px;
	color: #c88257;
	font-weight: normal;
	letter-spacing: 1px;
}

.Thumbnail_Content{
	height: 84px;
	padding: 5px 16px;
}

.ThumbnailAndCaption
{
	padding-left:7px;
}

.AUC_RedBoldText
{
	 color:Red;
	 font-weight:bold;
}

.AUC_TabActive
{
	border-top: solid 1px #e4d0a0;
	border-left: solid 1px #e4d0a0;
	border-right: solid 1px #e4d0a0;
	text-align: center;
	padding: 3px;
    font-weight: bold;
}

.AUC_TabInactive
{
	border: solid 1px #e4d0a0;
	background: #EFE8D8;
	text-align: center;
	padding: 3px;
    font-weight: bold;
}

.AUC_TabSep
{
	border-bottom: solid 1px #e4d0a0; 
}

.AUC_Border
{
	border-bottom: solid 1px #e4d0a0;
	border-left : solid 1px #e4d0a0;
	border-right: solid 1px #e4d0a0;
}

.TC_TabActive
{
	border-top: solid 1px #e4d0a0;
	border-left: solid 1px #e4d0a0;
	border-right: solid 1px #e4d0a0;
	text-align: center;
	padding: 3px;
    font-weight: bold;
	font-size: 13px;
}

.TC_TabInactive
{
	border: solid 1px #e4d0a0;
	background: #EFE8D8;
	text-align: center;
	padding: 3px;
    font-weight: bold;
	font-size: 13px;
}

.TC_TabSep
{
	border-bottom: solid 1px #e4d0a0;
}

.TC_TabPage
{
	border-bottom: solid 1px #e4d0a0;
	border-left: solid 1px #e4d0a0;
	border-right: solid 1px #e4d0a0;
}

.TC_SearchTextBox
{
	width: 400px;
}

.TC_SearchTextBoxWithText
{
	height: 15px;
	width: 175px;
	font-size: 9px;
	font-family: Verdana;
}

.TC_TopLinkPath
{
	/*display: inline;*/
	font-family: Arial;	
	font-size: 9px;		
	color: #4c4c56;
}

.TC_RateCell
{
	border: 1px solid Verdana;
}

.MoreInfoPopup
{
	background-color: #fff5d9;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid #e4d0a0;
}

.accordionHeader
{
    border: 1px solid #e4d0a0;
    color: #36c;
    background-color: Verdana;
	font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #e4d0a0;
    color: #36c;
    background-color: Verdana;
	font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
	background-color: #fff5d9
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    border: 1px solid #e4d0a0;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
	background-color: #fff5d9;
}

.SiteMapList, .SiteMapList a:active, .SiteMapList a:visited, .SiteMapList a:link
{
	list-style-type: none;
	color: #302e2e;
	line-height: 18px;
}

.SiteMapList a:hover
{
	text-decoration: underline;
}

.ErrorMessage
{
	color: Red;
	font-weight: bold;
	width: 100%;
}

.RenewLink, .RenewLink:active, .RenewLink:visited, .RenewLink:link
{
	color: #ff0000;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

.hrSeparateFullView
{
	height: 0;
	border: 0;
	border-top: 1px solid Verdana;
	text-align: center;
}

.hrSeparatePreView
{
	height: 0;
	border: 0;
	border-top: 1px solid Verdana;
	text-align: center;
}

/******* CT *******/
.MainOutsideBorder_Print
{
	background-color: #fff5d9; 
	/* width: 900px; */
	width: 98%; 
	margin: 0 auto;
	padding: 5px;	
}

.emailPanel
{
	background-color:#fff5d9;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:750px;
}

.modalBackgroud
{
	background-color:Gray;		

	
}

.NormalRed
{
	color:#FF0000; 	
}

.test
{
 margin-left:-100px;	
}

/**** Data Entry Class ****/
.TravelSummary
{
	list-style: none;
	font-size: 9.25pt;
	line-height: 150%;
	letter-spacing: .35px; 
}

.TravelSummarysmall
{
    font-size: 8pt;
	line-height: 170%;
}
.orange
{
	color: #a85a2a;
}
.MemberHome
{
	
	font-size: 9.5pt;
	line-height: 150%;
}

.Traveltitle
{
	text-transform: uppercase;	
	color:#c88257; 
}

.autocomplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px!important;
	background-color : #FFFFFF;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: #4C4C56;
	padding: 1px;
}

/* AutoComplete item */
.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}

.accordionHeader
{
	background-color: Verdana;
	text-align: left;
	font-family: Georgia;
	font-size: 11px;
	

}

.BlogTitle
{
	width: 445;
	border-top: 1px solid Verdana; 
	border-right: 1px solid Verdana; 
	border-bottom: 1px solid Verdana; 
	border-left: 1px solid Verdana;
	border-left-width: 5px;
/*	margin-top: 5px; */
	color: #4c4c56;
	background-color: Verdana;
	text-align: left;
	text-transform: uppercase;
	text-indent: 3px;
	font-weight: bold;
	font-family:Verdana;
}

/* Customer Referral */

.EmailTextBox
{
	width:300px; 
	font-family: Georgia, serif; 
	font-style:italic; 
	font-size:8pt; 
	color: #505050;	
}

.EmailTextBox2
{
	width:175px; 
	font-family: Georgia, serif; 
	font-style:italic; 
	font-size:8pt; 
	color: #505050;	
}


a.hrcontrol:hover
{
	text-decoration:none;
	color: #36c;
	}
	
	
	.hrcontrol
{
	font-family: Verdana;
	color: #666666;
	font-size: 8pt;
	line-height: 150%; 
	
}

	
.hrcontroltitle
{
font-size: 8pt;
line-height: 150%;
color: #000000;

}

.hrcontroltitleit
{
font: font-size: 7pt;
line-height: 11pt;
font-style:italic;
}



.memberlandingli
{
	padding-left: 10px; 
	padding-bottom: 7px;
}

.memberlandingul
{
	list-style: none;
	margin: 3px;
	text-indent: -1em;
}

.sigtour
{ font: 14px Georgia, Times New Roman, Times, serif;  
  line-height: 1.5; margin: 12px 0px 4px 0px; padding: 0px; letter-spacing: .25px; }
  
  .readmore
{
	text-decoration: none;
	text-transform: uppercase;
	font: bold 11px Georgia;
}


.capstitle
{
	font-size: 8pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	
}


  .refferal
{
	color: #36c;
	text-decoration: none;
	font: bold 12px Georgia;
	letter-spacing: 0.75px;
	text-align: left;
}

 .refferal_Main
{
	text-decoration: none;
	text-transform: uppercase;
	font: bold 13px Georgia;
}


.search
{
	font-family: Georgia;
	font-size: 12px;
	line-height: 150%;
}

.smsearch
{
	font-family: Georgia;
	font-size: 10.5px;
	line-height: 140%;
	
}

.brdr_light
{
	padding-right: 5px;
	padding-left: 5px;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	
}


/*Collection page styles*/

.update_title
{
	font-size: 11px;

}

.stroke {
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}


.left_stroke {
	border-top: 0px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
}

.collection
{
	list-style: none;
	font-size: 15px;
	line-height: 130%;
}

.collection2
{
	list-style: none;
	font-size: 15px;
	line-height: 150%;
}

.with
{
	list-style: none;
	font-size: 8pt;
	line-height: 140%;
	font-style: italic;
}

.collection3
{
	font-size: 13px;
	line-height: 150%;
}

.sidebar
{
	font-family: Georgia;
	color: #666666;
	font-size: 11px;
	line-height: 150%; 
	
}

.region_col
{
	font-family: Georgia;
	color: #5C8727;
	font-size: 11px;
	line-height: 150%;
	font-weight: bold;
}

.region_tab
{
	font-family: Georgia;
	font-size: 10px;
	line-height: 115%;
	font-weight: bold;
}

.update
{
	font-size: 9px;
	font-style: italic;
}


.post_title {
	color: #4C4C56;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: Verdana;
}

sup {
position: relative;
bottom: 2ex;
vertical-align: baseline;
font-size: 50%;
}


span#reg{ 
position: relative;
bottom: 1ex;
vertical-align: baseline;
font-size: 75%;
} 

/*AUCTIONS*/
.auction_title {
	letter-spacing: 0.5px;
	font: bold small-caps 15px Georgia;
	text-transform: uppercase;
}

.auction_titleor {
	color: #a85a2a;
	letter-spacing: 0.8px;
	font: small-caps 15px Georgia;
	text-transform: uppercase;
}

.auction_header {
	color: #a85a2a;
	letter-spacing: 1px;
	font: small-caps 17px Georgia;
	text-transform: uppercase;
}

.auction_titleror {
	color: #a85a2a;
	letter-spacing: 0.8px;
	font: small-caps 13px Georgia;
	text-transform: uppercase;
}
.AuctionSummarysmall
{
    font-size: 6.5pt;
	line-height: 150%;
	padding-bottom: 7px;
}

.WebPartDivr
{	border-top: 1px solid Verdana;
	border-left: 1px solid Verdana;
	border-right: 1px solid Verdana;
	border-bottom: 1px solid Verdana;
	padding: 1px 10px 2px 10px;
	margin-top: 5px;
}

/*Readers Choice 2009 styles*/

.rchoice
{
	font: 15px Georgia, Times New Roman, Times, serif;
	color: #323232;
	line-height: 1.2;
	letter-spacing: .35px;
	list-style: none;
	padding-left: 1em;
	text-indent: -1.5em;
	
}



.numbers
{
	font: 20px Georgia, Times New Roman, Times, serif;
	color: #5c8727;
	line-height: 1.5;
	letter-spacing: .35px;
	font-style: italic;
}


.rc{
	font: 20px Georgia, Times New Roman, Times, serif;
	color: #323232;
	letter-spacing: .35px;
	font-style: italic;
}

ol p{
	font: normal .8em Georgia, Times New Roman, Times, serif;
	color: #323232;

}

.webpart
{
	font-size: 7.5pt;
	font-family: Georgia, serif;
	line-height: 150%;
	color: #302e2e;
	border-top: 1px solid #e4d0a0;
	border-left: 1px solid #e4d0a0;
	border-right: 1px solid #e4d0a0;
	padding: 0px 5px 0px 0px;
	margin: 0px 
	text-align: center;
}